{% extends 'base.html.twig' %}

{% block title %}Create Author{% endblock %}

{% block body %}
  <div class="container">
          {{ form_errors(form) }}

    <h1>Author</h1>
      {{ form_start(form) }}
       <div class="mb-2 col-4">
        <label for="nom" class="form-label">Name</label>
        {{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}
      </div>


      <button type="submit" class="btn btn-primary">add Author</button>

  {{ form_end(form, {'render_rest': false}) }}

  </div>
{% endblock %}
